@{
    ViewBag.Title = "Mantenimiento de estados";
}

<h2>Mantenimiento de estados</h2>

<ul>
    <li>@Html.ActionLink("Alta de estado", "Alta", "Estado")</li>
    <li>@Html.ActionLink("Buscar estado", "Buscar", "Estado")</li>
    <li>@Html.ActionLink("Modificar estado", "Modificar", "Estado")</li>
    <li>@Html.ActionLink("Baja de estado", "Baja", "Estado")</li>
</ul>

<br />

@Html.ActionLink("Volver al menú principal", "Menu", "Empleado")