@{
    ViewBag.Title = "Modificar estado";
}

<h2>Modificar estado</h2>

<form method="post">
    <label>Código</label>
    <input type="text" name="codigo" class="form-control" minlength="4" maxlength="5" required />

    <br />

    <input type="submit" value="Buscar" class="btn btn-primary" />
</form>

@if (ViewBag.Mensaje != null)
{
    <br />
    <div class="alert alert-info">@ViewBag.Mensaje</div>
}

@if (ViewBag.Estado != null)
{
    <hr />

    <form method="post" action="/Estado/GuardarModificacion">

        <label>Código</label>
        <input type="text"
               name="codigo"
               value="@ViewBag.Estado.Codigo"
               readonly
               class="form-control" />

        <br />

        <label>Nombre</label>
        <input type="text"
               name="nombre"
               value="@ViewBag.Estado.Nombre"
               maxlength="50"
               required
               class="form-control" />

        <br />

        <label>País</label>
        <input type="text"
               name="pais"
               value="@ViewBag.Estado.Pais"
               maxlength="50"
               required
               class="form-control" />

        <br />

        <label>Activo</label>
        <input type="checkbox"
               name="activo"
               value="true"
               @(ViewBag.Estado.Activo ? "checked" : "") />

        <br /><br />

        <input type="submit" value="Guardar cambios" class="btn btn-warning" />
    </form>
}

<br />

@Html.ActionLink("Volver", "Mantenimiento", "Estado")